{% extends "layout.html" %}

{% block title %}
    {{ History }}
{% endblock %}

{% block main %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Transacted</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through the database entries to display them in this table -->
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction["symbol"] }}</td>
                        <td>{{ transaction["shares"] }}</td>
                        <td>{{ transaction["price"] | usd }}</td>
                        <td>{{ transaction["transaction_time"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}